<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/components/header.css">
    <link rel="stylesheet" href="../styles/components/footer.css">
    <link rel="stylesheet" href="../styles/servicios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ledger&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Crimson Services - Servicios</title>
</head>
<body>
    <header class="header">
        <div class="logo_header">
            <img src="../assets/Logo Servicios Carmesi.png" alt="Logo Web">
            <h1><span><b>C</b>rimson</span> <span><b>S</b>ervice</span></h1>
        </div>

        <nav class="nav">
            <ul class="ul_liks">
                <li><a class="links" href="./index.html">Inicio</a></li>
                <li><a class="links" href="./servicios.html">Servicios</a></li>
                <li><a class="links" href="./foro.html">Foro</a></li>
                <li><a class="links" href="./conocenos.html">Conocenos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="grandient">
                <article class="access">
                    <h3>Selecciona tu servicio</h3>
                    <div class="line">
                        <span class="lineA"></span>
                        <span class="lineB"></span>
                        <span class="lineC"></span>
                    </div>
                    <div class="buttons_service">
                        <a href="">Diseño</a>
                        <a href="">Desarrollo</a>
                        <a href="">Hosting</a>
                        <a href="">Manager</a>
                        <a href="">Soporte</a>
                        <a href="">Gestor</a>
                        <a href="">Moderador</a>
                        <a href="">Plataformas</a>
                        <a href="">Otros</a>
                    </div>
                    <div class="line2">
                        <span class="lineA"></span>
                        <span class="lineB"></span>
                        <span class="lineC"></span>
                    </div>
                </article>
            </div>
        </section>

        <section class="service">
            <h3>Servicios</h3>
            <div class="cards">
                <article class="card">
                    <span>
                        <h4>Diseño Gráfico</h4>
                        <h5>$300 - $5,000 </h5>
                    </span>
                    <ol class="chartert">
                        <li>Profesionalismo</li>
                        <li>Identidad de marca</li>
                        <li>Atractivo visual</li>
                        <li>Experiencia del usuario</li>
                        <li>Diferenciación</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4>Desarrollo Web</h4>
                        <h5>$1,000 - $10,000</h5>
                    </span>
                    <ol class="chartert">
                        <li>Experiencia Profesional</li>
                        <li>Ahorro de Tiempo</li>
                        <li>Diseño Personalizado</li>
                        <li>Optimización para SEO</li>
                        <li>Escalabilidad</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4>Hosting</h4>
                        <h5>$3 - $500</h5>
                    </span>
                    <ol class="chartert">
                        <li>Disponibilidad y Uptime</li>
                        <li>Soporte Técnico</li>
                        <li>Seguridad</li>
                        <li>Escalabilidad</li>
                        <li>Rendimiento Mejorado</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4>Community Manager</h4>
                        <h5>$300 - $2,000</h5>
                    </span>
                    <ol class="chartert">
                        <li>Gestión de Marca</li>
                        <li>Interacción con la Audiencia</li>
                        <li>Creación de Contenido</li>
                        <li>Análisis de Métricas</li>
                        <li>Estrategias de Crecimiento</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4>Soporte Remoto</h4>
                        <h5>$300 - $2,000</h5>
                    </span>
                    <ol class="chartert">
                        <li>Gestión de Marca</li>
                        <li>Interacción con la Audiencia</li>
                        <li>Creación de Contenido</li>
                        <li>Análisis de Métricas</li>
                        <li>Estrategias de Crecimiento</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4>Gestor de Proyectos</h4>
                        <h5>$3 - $500</h5>
                    </span>
                    <ol class="chartert">
                        <li>Mejora en la Planificación</li>
                        <li>Gestión Eficiente de Recursos</li>
                        <li>Cumplimiento de Plazos</li>
                        <li>Reducción de Riesgos</li>
                        <li>Comunicación Efectiva</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4></h4>
                        <h5></h5>
                    </span>
                    <ol class="chartert">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4></h4>
                        <h5></h5>
                    </span>
                    <ol class="chartert">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
                <article class="card">
                    <span>
                        <h4>Otros Servicios</h4>
                        <h5>$1 - 100$</h5>
                    </span>
                    <ol class="chartert">
                        <li>Servicios Variados</li>
                        <li>Costo Mínimo</li>
                        <li>Adecuados atus necesidades</li>
                        <li>Rápidos</li>
                        <li>Con profesionales</li>
                    </ol>
                    <a class="button" href="../views/conocenos.html">Comprar</a>
                </article>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="top">
            <img src="../assets/Logo Servicios Carmesi.png" alt="Logo Web">
            <h2 class="name"><span><b>C</b>rimson</span> <span><b>S</b>ervice</span></h2>
        </div>
        <div class="bottom">
            <p>© 2024 Crimson Service.</p>
            <p>Todos los contenidos, nombres y/o imágenes comerciales, marcas comerciales, arte e imágenes asociadas son marcas comerciales y/o material con  derechos de autor de sus propietarios respectivos.Todos los derechos  reservados.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/fed6c5b9e1.js" crossorigin="anonymous"></script>
</body>
</html>